<% layout('layouts/boilerplate')%>
    <a href="/campgrounds/new">Make A New Campground</a>
    <h1>All Campgrounds</h1>
    <% for(let c of campgrounds){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="<%=c.image%>" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <p class="card-text"><%=c.title%></p>
                            <p class="card-text"><%=c.description%></p>
                            <p class="card-text">
                                <small class="text-muted"><%=c.location%> </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/<%=c._id%> ">View <%=c.title%> </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
